

<%- layout("includes/boilerplate") %>
<h1 class="col-6 offset-4 " >Login/Signup Page</h1>
<body class="btnbody">
    <div class="col-6 offset-3 btns" >
    
        <form action="/signup" >
            <button class="btn btn-dark offset-2 ms-3 mt-5">signup</button>
        </form>
        <br>
        <form action="/login">
            <button class="btn btn-dark offset-3 ms-4 me-4 mt-5">Login</button>
        </form>
    </div>
</body>
